.border {
    border: 1px solid red;
}

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}
.rounded {
    border-radius: 8px;
}
.width100 {
    width: 100%;
}

.p-1 {
    padding: 4px;
}

.m-1 {
    margin: 4px;
}

.svg-w {
    width: 22px;
}


/* Apply dark styles to the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}

/* Track styles */
::-webkit-scrollbar-track {
    background: #333; /* Set the background color of the track */
}

/* Handle styles */
::-webkit-scrollbar-thumb {
    background: #555; /* Set the color of the scrollbar handle */
    border-radius: 6px; /* Set the border-radius to make it rounded */
}

/* Handle on hover styles */
::-webkit-scrollbar-thumb:hover {
    background: #777; /* Set the color when hovering over the handle */
}

/* Corner styles (optional) */
::-webkit-scrollbar-corner {
    background: #333; /* Set the color of the scrollbar corner */
}